* {
    padding: 0;
    margin: 0;
  }
  
  /* For WebKit-based browsers */
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #d62f12;
    border-radius: 5px;
  }
  
  
  
  /*--------------------------------------------------------------------------------------------
   learm-more 
   -----------------------------------------------------------------------------------------*/
  .learn-more-btn {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
  }
  
  .learn-more-btn.learn-more {
    width: 12rem;
    height: auto;
  }
  
  .learn-more-btn.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #282936;
    border-radius: 1.625rem;
  }
  
  .learn-more-btn.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
  }
  
  .learn-more-btn.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
  }
  
  .learn-more-btn.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
  }
  
  .learn-more-btn.learn-more .learn-more-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
  }
  
  .learn-more-btn:hover .circle {
    width: 100%;
  }
  
  .learn-more-btn:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
  }
  
  .learn-more-btn:hover .learn-more-text {
    color: #fff;
  }
  
  /*
  -------------------------------------------------------------------------------------------
  hover light effect on button
  -------------------------------------------------------------------------------------------- */
  /* === removing default button style ===*/
  .light-effect-btn {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
  }
  
  
  /* 
  -------------------------------card--book------------------ */
  
  .book {
    position: relative;
    border-radius: 10px;
    width: 220px;
    height: 300px;
    background-color: whitesmoke;
    -webkit-box-shadow: 1px 1px 12px #000;
    box-shadow: 1px 1px 12px #000;
    -webkit-transform: preserve-3d;
    -ms-transform: preserve-3d;
    transform: preserve-3d;
    -webkit-perspective: 2000px;
    perspective: 2000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #000;
  }
  
  .cover {
    top: 0;
    position: absolute;
    background-color: lightgray;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform-origin: 0;
    -ms-transform-origin: 0;
    transform-origin: 0;
    -webkit-box-shadow: 1px 1px 12px #000;
    box-shadow: 1px 1px 12px #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  
  .book:hover .cover {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: rotatey(-80deg);
    -ms-transform: rotatey(-80deg);
    transform: rotatey(-100deg);
  }
  
  /* p {
    font-size: 20px;
    font-weight: bolder;
  } */
  
  /*------------------------------------------- bottom-slid-card-------------------------------------------------------
  ------------------------------------------- ----------------------------------------------*/
  .card_1 {
    position: relative;
    width: 300px;
    height: 200px;
    background-color: #f2f2f2;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card_1 svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card_1:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
  }
  
  .card__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card_1:hover .card__content {
    transform: rotateX(0deg);
  }
  
  .card__title {
    margin: 0;
    font-size: 24px;
    color: #333;
    font-weight: 700;
  }
  
  .card_1:hover svg {
    scale: 0;
  }
  
  .card__description {
    margin: 10px 0 0;
    font-size: 14px;
    color: #777;
    line-height: 1.4;
  }
  
  
  
  /* animation */
  .left-right-animate{
      -webkit-animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
              animation: tracking-in-contract 0.9s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  }
  
   @-webkit-keyframes tracking-in-contract {
    0% {
      letter-spacing: 1em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      letter-spacing: normal;
      opacity: 1;
    }
  }
  @keyframes tracking-in-contract {
    0% {
      letter-spacing: 1em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      letter-spacing: normal;
      opacity: 1;
    }
  }
  
  /* 2 */
  .animate-hover-effect:hover {
      -webkit-animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
              animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  }
  
   @-webkit-keyframes tracking-in-expand-fwd {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px);
              transform: translateZ(-700px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand-fwd {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px);
              transform: translateZ(-700px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  
  /* 3 */
  .animate-bounce-top{
    height: 50px;
  }
  .animate-bounce-top:hover .anmimate-bounce-top-btn {
  
  -webkit-animation: bounce-top 0.9s both;
          animation: bounce-top 0.9s both;
  }
  
  @-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  }
  @keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  }
  
  
  /* --------------------------multiple images cards -----------------*/
  
  .multiple-image-card {
          
    width: 190px;
    height: 254px;
    background: rgba(211, 211, 211, 0.199);
    position: absolute;
    transition: .3s ease-in-out;
    cursor: pointer;
    box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.3);
  }
  
  #c1 {
    background-color: black;
  }
  
  #c2 {
    background-color: blue;
  }
  
  #c3 {
    background-color: red;
  }
  
  #c4 {
    background-color: green;
  }
  
  .multiple-image-main:hover #c1 {
    transform: translateX(-100px) rotate(-40deg);
  }
  
  .multiple-image-main:hover #c2 {
    transform: translateX(-50px) rotate(-30deg);
  }
  
  .multiple-image-main:hover #c3 {
    transform: translateX(0) rotate(-20deg);
  }
  
  .multiple-image-main:hover #c4 {
    transform: translateX(50px) rotate(-10deg);
  }
  
  #c1:hover {
    transform: translateX(-200px) rotate(0deg) !important;
  }
  
  #c2:hover {
    transform: translateX(-150px) rotate(0deg) !important;
  }
  
  #c3:hover {
    transform: translateX(-130px) rotate(0deg) !important;
  }
  
  #c4:hover {
    transform: translateX(50px) rotate(0deg) !important;
  }
  
  .multiple-image-main {
    display: grid;
    height: 50vmax;
    place-items: center;
    width: 200px;
  }
  
  
  /* log-in-button */
  .log-in-btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: rgb(255, 65, 65);
  }
  
  /* plus log-in */
  .log-in {
      width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .log-in svg {
      width: 17px;
  }
  
  .log-in svg path {
      fill: white;
  }
  /* log-in-text */
  .log-in-text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: .3s;
  }
  /* hover effect on button width */
  .log-in-btn:hover {
    width: 125px;
    border-radius: 40px;
    transition-duration: .3s;
  }
  
  .log-in-btn:hover .log-in {
      width: 30%;
      transition-duration: .3s;
    padding-left: 20px;
  }
  /* hover effect button's log-in-text */
  .log-in-btn:hover .log-in-text {
      opacity: 1;
      width: 70%;
      transition-duration: .3s;
      padding-right: 10px;
  }
  /* button click effect*/
  .log-in-btn:active {
      transform: translate(2px ,2px);
  }
  
  /*------------------ blur-card------------------ */
  
  .card-blur {
    width: 190px;
    height: 254px;
    transition: all 0.2s;
    position: relative;
    cursor: pointer;
  }
  
  .card-blur-inner {
    width: inherit;
    height: inherit;
    background: rgba(255,255,255,.05);
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    backdrop-filter: blur(10px);
    border-radius: 8px;
  }
  
  .card-blur:hover {
    transform: scale(1.04) rotate(1deg);
  }
  
  .circle-blur {
    width: 100px;
    height: 100px;
    background: radial-gradient(#b0e633, #53ef7d);
    border-radius: 50%;
    position: absolute;
    animation: move-up6 2s ease-in infinite alternate-reverse;
  }
  
  .circle-blur:nth-child(1) {
    top: -25px;
    left: -25px;
  }
  
  .circle-blur:nth-child(2) {
    bottom: -25px;
    right: -25px;
    animation-name: move-down1;
  }
  
  @keyframes move-up6 {
    to {
      transform: translateY(-10px);
    }
  }
  
  @keyframes move-down1 {
    to {
      transform: translateY(10px);
    }
  }
  
  /*----------------------- rotate-item-card----------------------------------------------------- */
  
  .rotate-item-card {
    position: relative;
    top: 2em;
    width: 12.5em;
    height: 6.5em;
    background: white;
    transition: .4s ease-in-out;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    overflow: hidden;
  }
  
  .rotate-item-heading {
    position: relative;
    color: black;
    font-weight: bold;
    font-size: 1.1em;
    padding-top: 1em;
    padding-left: 1em;
    transition: .4s ease-in-out;
  }
  
  .rotate-item-details {
    position: relative;
    color: black;
    font-size: 0.6em;
    padding-top: 1.5em;
    padding-left: 2em;
    transition: .4s ease-in-out;
  }
  
  .rotate-item-price {
    position: relative;
    color: black;
    font-weight: bold;
    font-size: 0.8em;
    padding-top: 1.5em;
    padding-left: 1.5em;
    top: 9.6em;
    left: 5em;
    transition: .4s ease-in-out;
  }
  
  .rotate-item-btn1 {
    position: relative;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    font-size: 0.6em;
    padding-left: 6.9em;
    padding-right: 6.9em;
    padding-top: 0.8em;
    padding-bottom: 0.85em;
    border-radius: 10px;
    left: 2.6em;
    top: 14.8em;
    transition: .4s ease-in-out;
    font-weight: bold;
  }
  
  .rotate-item-btn1:hover {
    background-color: limegreen;
    cursor: pointer;
  }
  
  .rotate-item-btn2 {
    position: relative;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    font-size: 0.6em;
    padding-left: 5.1em;
    padding-right: 5.1em;
    padding-top: 0.8em;
    padding-bottom: 0.85em;
    border-radius: 10px;
    left: 2.6em;
    right: 2.6em;
    top: 15.5em;
    transition: .4s ease-in-out;
    font-weight: bold;
  }
  
  .rotate-item-btn2:hover {
    background-color: limegreen;
    cursor: pointer;
  }
  
  .glasses {
    position: relative;
    top: -3.5em;
    left: 10em;
    width: 70px;
    height: 70px;
    transition: .4s ease-in-out;
  }
  
  .rotate-item-card:hover {
    width: 12.5em;
    height: 22.7em;
    transform: translateY(1.25em);
  }
  
  .rotate-item-card:hover + .glasses {
    transform: rotateX(360deg);
    height: 100px;
    width: 100px;
    left: 3em;
    top: -17.5em;
  }
  
  .rotate-item-card:hover .rotate-item-heading {
    transform: translateY(7em) translateX(2.3em);
  }
  
  .rotate-item-card:hover .rotate-item-details {
    transform: translateY(13em) translateX(3.5em);
  }